@use "@/app/variables" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: $shadow-lg;
    border-bottom: 1px solid $border-color;
    background: $white;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav {
    display: flex;
    gap: 1rem;

    a {
        color: $brand-color;
    }
}