@use "@/app/variables" as *;

$image-width: 50px;

.container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: $surface-color;
  border-radius: $border-radius-lg;
  position: relative;
  align-items: center;
  box-shadow: $shadow-sm;
  width: 100%;  
  border: 1px solid $border-color;
}

.imageContainer {
  width: $image-width;
  min-width: $image-width;
  height: $image-width;
  overflow: hidden;
  background: $surface-color-dark;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

$flag-position: 45px;

.flagContainer {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: $surface-color;
  position: absolute;
  top: $flag-position;
  left: $flag-position;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.country {
    display: block;
    font-weight: 900;
    font-size: 1rem;
    color: $gray-dark;
    line-height: 1rem;
  }
  
  .performer {
    display: block;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: $gray-dark;
}

.song {
    display: block;
    font-weight: 400;
    font-size: 0.75rem;
    color: $gray-dark;
}