@use "@/app/variables" as *;

$image-width: 50px;

.container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: $surface-color;
  border-radius: $border-radius-lg;
  position: relative;
  align-items: center;
  box-shadow: $shadow-sm;
  width: 100%;  
  border: 1px solid $border-color;
}

.data {
  display: flex;
  gap: 0.5rem;
}
.imageContainer {
  width: $image-width;
  min-width: $image-width;
  height: $image-width;
  overflow: hidden;
  background: $surface-color;
  border-radius: 0.5rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

$flag-position: 45px;

.flags {
  padding: 2px;
  background: $surface-color;
  border-radius: 100px;
  display: flex;
}

.flagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background: $white;
  border-radius: 50%;
  box-shadow: $shadow;

  // overlap effect
  margin-left: -0.5rem;

  // first flag doesn't get overlap
  &:first-child {
    margin-left: 0;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.nickname {
  display: block;
  font-weight: 900;
  font-size: 1rem;
  color: $gray-dark;
  line-height: 1.25rem;
}


